body {
    color: #35294c;
    font-family: Raksti-FreightTextPro,Times,monospace;
    font-weight: 400;
    font-size: 20px;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.contacts-form {
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.contacts-description {
    width: 48%;
    display: flex;
    flex-direction: column;
}

.mobilly-qr {
    width: 300px;
}