.created-exam-view-butt {
    font-size: 20px;
    width: 100%;
}

.created-exam-view {
  font-family: var(--lumo-font-family);;
}


@media screen and (max-width: 1200px) {

    .exam-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }

    .exam-textArea {
        width: 100%;
    }

    .exam-video {
        width: 100%;
    }

}